<div>
  <h1>إضافة المعلمين</h1>
  <form [formGroup]="teachersForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">الاسم الأول</label>
      <input id="firstName" formControlName="FirstName" />
      <div *ngIf="teachersForm.controls['FirstName'].invalid && teachersForm.controls['FirstName'].touched">
        الإسم الأول مطلوب
      </div>
    </div>
    <div>
      <label for="lastName">اسم العائلة</label>
      <input id="lastName" formControlName="LastName" />
      <div *ngIf="teachersForm.controls['LastName'].invalid && teachersForm.controls['LastName'].touched">
        إسم العائلة مطلوب
      </div>
    </div>
    <div >
      <label for="subject">المادة</label>
      <input id="subject" formControlName="Subject" />
      <div  *ngIf="teachersForm.controls['Subject'].invalid && teachersForm.controls['Subject'].touched">
        المادة مطلوب
      </div>
    </div>
    <div>
      <label for="category">فئة</label>
      <select id="category" formControlName="Category">
        <option value="">اختر الفئة</option>
        <option value="Category 1">الفئة الأولى</option>
        <option value="Category 2">الفئة الثانية</option>
        <option value="Category 3">الفئة الثالثة</option>
      </select>
      <div *ngIf="teachersForm.controls['Category'].invalid && teachersForm.controls['Category'].touched">
        اختيار القسم مطلوب
      </div>
    </div>
    
    <button type="submit">يُقدِّم</button>
    <button [routerLink]="['/teachers-management']" type="reset">يعود</button>
  </form>
</div>