<div class="category">
    <h2>catigorie-one</h2>
    <div class="subcategory">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
    </div>
    <h3>5eme</h3>
    <div class="subcategory">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
    </div>
  </div>

  <div class="category">
    <h2>catigorie-two</h2>
    <h3>BEM</h3>
    <div class="subcategory">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
      <button>F</button>
      <button>D</button>
    </div>
  </div>

  <div class="category">
    <h2>catigorie-three</h2>
    <h3>1eme lycee</h3>
    <div class="subcategory">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
      <button>F</button>
      <button>G</button>
    </div>
    <h3>2eme lycee</h3>
    <div class="subcategory">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
      <button>F</button>
      <button>G</button>
    </div>
    <h3>BAC</h3>
    <div class="subcategory">
      <button>A</button>
      <button>B</button>
      <button>C</button>
      <button>D</button>
      <button>E</button>
      <button>F</button>
      <button>G</button>
    </div>
  </div>