<div>
  <h1>Categories One</h1>
  <ul>
    <li *ngFor="let teacher of teachers">
      <h2>First name: {{ teacher.FirstName }}</h2>
      <h2>Last name: {{ teacher.LastName }}</h2>
      <h2>Subject: {{ teacher.Subject }}</h2>
      <ul>
        <li *ngFor="let student of getStudentsForTeacher(teacher)">
          <span>
            {{ student.FirstName }} {{ student.LastName }} - {{ student.Address }} - {{ student.DateOfBirth }} - {{ student.Email }} - {{ student.Level }} - {{ student.Subject }} - {{ student.Category }}
          </span>
          <button (click)="deleteStudent(student)">X</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
