<div>
  <h1 style="text-align: center;">الفئة الابتدائية</h1>
  <div class="table">
    <ul>
      <div *ngFor="let teacher of teachers" style="  border: solid;">
        <div class="table-teacher">
          <h2>اللقب: {{ teacher.FirstName }}</h2>
          <h2>الاسم: {{ teacher.LastName }}</h2>
          <h2>المادة خاصة باستاذ: {{ teacher.Subject }}</h2>
        </div>
        <ul>
          <div class="table-student">
            <div>
              <a [routerLink]="['/student-management-form']">اضافة طلاب</a>
            </div>
            <h3>الطلاب خاص باستاذ</h3>
            <li *ngFor="let student of getStudentsForTeacher(teacher)">
              <span>
                {{ student.FirstName }} {{ student.LastName }} - {{ student.Address }} - {{ student.DateOfBirth }} - {{ student.Email }} - {{ student.Level }} - {{ student.Subject }} - {{ student.Category }}
              </span>
             
            </li>
          </div>
        </ul>
      </div>
    </ul>
  </div>
</div>
