<div>
  <h1>إضافة طالب</h1>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">الاسم</label>
      <input id="firstName" formControlName="FirstName" />
      <div style="color: brown;" *ngIf="studentForm.controls['FirstName'].invalid && studentForm.controls['FirstName'].touched">
        الإسم الأول مطلوب
      </div>
    </div>
    <div>
      <label for="lastName">إسم العائلة</label>
      <input id="lastName" formControlName="LastName" />
      <div style="color: brown;" *ngIf="studentForm.controls['LastName'].invalid && studentForm.controls['LastName'].touched">
        إسم العائلة مطلوب
      </div>
    </div>
    <div>
      <label for="address">عنوان</label>
      <input id="address" formControlName="Address" />
      <div style="color: brown;" *ngIf="studentForm.controls['Address'].invalid && studentForm.controls['Address'].touched">
        العنوان مطلوب
      </div>
    </div>
    <div>
      <label for="dateOfBirth">تاريخ الميلاد</label>
      <input id="dateOfBirth" type="date" formControlName="DateOfBirth" />
      <div style="color: brown;" *ngIf="studentForm.controls['DateOfBirth'].invalid && studentForm.controls['DateOfBirth'].touched">
        تاريخ الميلاد مطلوب
      </div>
    </div>
    <div>
      <label for="email">بريد إلكتروني</label>
      <input id="email" type="email" formControlName="Email" />
      <div style="color: brown;" *ngIf="studentForm.controls['Email'].invalid && studentForm.controls['Email'].touched">
        مطلوب بريد إلكتروني صالح
      </div>
    </div>
    <div>
      <label for="level">مستوى</label>
      <input id="level" formControlName="Level" />
      <div style="color: brown;" *ngIf="studentForm.controls['Level'].invalid && studentForm.controls['Level'].touched">
        المستوى مطلوب
      </div>
    </div>

    <div>
      <label for="numerotel">رقم الهاتف</label>
      <input  id="numerotel" formControlName="numerotel" />
    </div>
    <div>
      <label for="numerotelPere">رقم الهاتف الوالد</label>
      <input id="numerotelPere" formControlName="numerotelPere" />
      <div style="color: brown;" *ngIf="studentForm.controls['numerotelPere'].invalid && studentForm.controls['numerotelPere'].touched">
        رقم الهاتف الوالد مطلوب
      </div>

    </div>
    
    <div>
      <label for="category">فئة</label>
      <select id="category" formControlName="Category" (change)="onCategoryChange()">
        <option value="">اختر الفئة</option>
        <option value="Category 1">الفئة الابتدائية</option>
        <option value="Category 2">الفئة المتوسطة</option>
        <option value="Category 3">الفئة الثانوية</option>
      </select>
      <div style="color: brown;" *ngIf="studentForm.controls['Category'].invalid && studentForm.controls['Category'].touched">
        اختيار القسم مطلوب
      </div>
    </div>
    <div>
      <label for="paid">دفع</label>
      <input type="checkbox" id="paid" formControlName="Paye" />
    </div>
    
    <div  *ngIf="showSubjectField">
      <label for="subject">المادة</label>
      <select formControlName="Subject" id="subject">
      <option value="">حدد المادة</option>
      <option *ngFor="let teacher of teachers" >{{ teacher.Subject }}</option>
    </select>
    <div style="color: brown;" *ngIf="studentForm.controls['Subject'].invalid && studentForm.controls['Subject'].touched">
      مطلوب اختيار المادة
    </div>
    </div>
    <div *ngIf="showTeachersField">
      <label for="educate">تعليم</label>
      <select id="educate" formControlName="Educate">
        <option value="">حدد المعلم</option>
        <option *ngFor="let teacher of teachers" >{{ teacher.FirstName }}</option>
      </select>
      <div style="color: brown;" *ngIf="studentForm.controls['Educate'].invalid && studentForm.controls['Educate'].touched">
        مطلوب اختيار المعلم
      </div>
    </div>

    <button type="submit">حفظ</button>
    <button [routerLink]="['/student-management']" type="reset">يعود</button>
  </form>
</div>
