<div class="sidenav">
    <a routerLink="/Home">Home</a>
    <a routerLink="/student-management">Students</a>
    <a routerLink="/teachers-management">Teachers</a>
    <a routerLink="/courses">Courses</a>
    <a routerLink="/payment">Payment</a>
</div>
<div class="Home" style="text-align: center;">
    <div class="dashboard-container">
        <h1>School Management System Mahmoudi</h1>
        <nav class="dashboard-nav">
          <ul>
            <li><a routerLink="/student-management">Students</a></li>
            <li><a routerLink="/teachers-management">Teachers</a></li>
            <li><a routerLink="/courses">Courses</a></li>
            <li><a routerLink="/classes">Classes</a></li>
            <li><a routerLink="/payment">Payment</a></li>
            <li><a routerLink="/timetable">Timetable</a></li>
            <li><a routerLink="/timetable">Presence</a></li>
            
          </ul>
        </nav>
      </div>
</div>