<div class="sidenav">
    <a routerLink="/Home">بيت</a>
    <a routerLink="/student-management">ادارة الطلاب</a>
    <a routerLink="/teachers-management">ادارة الاساتذة</a>
    <a routerLink="/courses">ادارة الدورات</a>
    <a routerLink="/payment">ادارة المدفوعات</a>
</div>
<div class="Home" style="text-align: center;">
    <div class="dashboard-container">
        <h1>نظام إدارة المدرسة </h1>
        <nav class="dashboard-nav">
          <ul>
            <li><a routerLink="/student-management">ادارة الطلاب</a></li>
            <li><a routerLink="/teachers-management">ادارة الاساتذة</a></li>
            <li><a routerLink="/courses">ادارة الدورات</a></li>
            <li><a routerLink="/classes">ادارة افواج</a></li>
            <li><a routerLink="/payment">ادارة المدفوعات</a></li>
            <li><a routerLink="/timetable"> ادارة الجدول الزمني والحضور</a></li>
            
          </ul>
        </nav>
      </div>
</div>